*.mod
*.o
*.a
*.swp
run
*.out
exe*
.DS_Store
build/
bin/
anal/binder
anal/jackv5
anal/jackv5_coratio
anal/jackv5_dynsus
anal/jackv5_gtau
anal/jackv5_ising
anal/jackv5_sq
anal/make.sys
anal/rebin
anal/jackv5_dynsus_swave
Makefile
._*
tags
jackv5_*
inv_fourier
inv_fourier_dimer
build_debug
build_*
*.mod
*.o
x_confc
train01/
*.a
ftdqmc
*.swp
src/ftdqmc.in
run
Heff.para
Heff.para.1.9.1.1
Heff.para.2.49.1.4
Heff.para.simple
Heff.tmp
L40.logs
L8.logs
chijxjx.bin
chijxjxtaur.bin
chiszsz.bin
confin
confout
confout.bin
ener1.bin
ftdqmc.out
ftdqmc.out.10000
ftdqmc.out.AvQR
ftdqmc.out.Wolff
ftdqmc.out.bak.w200
ftdqmc.out.bench
ftdqmc.out.block16
ftdqmc.out.l20.block1
ftdqmc.out.l20.block100
ftdqmc.out.l20.block16
ftdqmc.out.l20.block32
ftdqmc.out.l20.local
ftdqmc.out.l20.w10
ftdqmc.out.l20.w20
ftdqmc.out.l20.w40
ftdqmc.out.l40.w10
ftdqmc.out.l40.w40
ftdqmc.out.l8.fullprint
ftdqmc.out.local
ftdqmc.out.ncu100
ftdqmc.out.ncu200
ftdqmc.out.ncu300
ftdqmc.out.ncu588
ftdqmc.out.qr
ftdqmc.out.svd
ftdqmc.out.test1
ftdqmc.out.test2
ftdqmc.out.test3
ftdqmc.out.test4
ftdqmc.out.tmp
ftdqmc.out.tmp.w40
ftdqmc.out.tmp.w50
ftdqmc.out.w10
ftdqmc.out.w20
ftdqmc.out.w40
get-ne.sh
gmon.out
gtau_dn.bin
gtau_up.bin
isingzz_corrlt.bin
isingzztau_corrlt.bin
l8-cuanneal/
l8-culocal/
l8-local/
log
logs
logs.order
paramC_sets
seeds
sstaur_corrlt.bin
szsztaur_corrlt.bin
tmp
tmp.dat
tmp1.dat
tmp2.dat
train.log.1.9.1.1
uptolow.sh
hmc_*
